<div class="card" style="width: 20rem;">
  <div class="card-header">{{ item['title'] }}</div>
  <img class="card-img-top" src="{{ item['imageUrl'] }}" alt="{{ item['title'] }}" height="240">
  <div class="card-body">
    <p class="card-text">{{ item['description'] }}</p>
  </div>
  <div class="card-footer">
    <div class="text-right">
      <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
  </div>
</div>
