{% extends 'base.html.twig' %}

{% block title %}Your one stop place for wizarding supplies{% endblock %}

{% block body %}
  <h1>Home</h1>
  <br><br>
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex align-content-stretch flex-wrap">
        {% for item in items %}
          {{ include('shopping/item.html.twig', item) }}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
